body {
    background-color:rgb(41, 184, 89) ;
    color:rgb(252, 252, 252);
    font-family: "Playwrite DE Grund Guides", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
    font-size: 120%;
}

button {

background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-family: "Playwrite DE Grund Guides", cursive;


}

.passo {
  display:none;
}

.passo.ativo {
   display:block;

}

main {
  text-align: center ;
  max-width: 90%;


}


img {
  max-width: 90%;


}