body {
    background-color:rgb(62, 110, 122) ;
    color:rgb(252, 252, 252);
    font-family: "Playwrite DE Grund Guides", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;


}

button {
background-color: rgb(73, 118, 129);
color: rgb(252, 252,252);
font-family: "Playwrite DE Grund Guides", cursive;





}